.title {
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 3s ease-out, font-size 1s ease-out;
  transform: translateY(calc(50vh - 100%));
}

.title.start {
  transform: translateY(calc(50vh - 100%));
}

.title.animated {
  transform: translateY(0);
}

.title.exhibition-selected {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}