body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

#root {
  min-height: 100vh;
}

.title {
  transition: all 3s ease-out;
  transform: translateY(0);
}

.title.start {
  transform: translateY(calc(50vh - 100%))
}
.title.animated {
  transform: translateY(0);
}

.title.menu-selected {
  font-size: 1.5rem;
  transform: translateY(0);
}