.year-menu {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 120px);
  max-width: calc(100vw);
  overflow: auto;
  padding-top: 100px;
  transition: all 1s ease-out, opacity 1s ease-in-out;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1000;
}

.year-menu.visible {
  opacity: 1;
}

.year-menu.horizontal {
  flex-direction: column;
  top: 8vh;
  left: 0;
  right: 0;
  transform: none;
  padding-top: 0;
  padding-bottom: 0;
  max-height: none;
  overflow-x: visible;
  overflow-y: visible;
  align-items: center;
}

.year-menu.horizontal .years-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  padding: 10 10;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .year-menu.horizontal .years-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.year-menu::-webkit-scrollbar {
  display: none;
}

.year-menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.year-section {
  margin-bottom: 0pxpx;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal .year-section {
  margin:  5 5px;
  flex-shrink: 0;
}

.year-button, .exhibition-button {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.8;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  color: white;
}

.year-button:hover, .year-button.selected,
.exhibition-button:hover, .exhibition-button.selected {
  opacity: 1.0;
}

.exhibition-button {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.exhibition-button.selected {
  transform: translateY(-30px);
  font-weight: bold;
  text-align: center;
}

.horizontal .year-button,
.horizontal .exhibition-button {
  color: rgba(0,0,0,0.5);
}

.horizontal .year-button:hover,
.horizontal .year-button.selected, 
.horizontal .exhibition-button:hover,
.horizontal .exhibition-button.selected {
  color: rgba(0,0,0,1);
  opacity: 1;
}

.exhibitions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal .exhibitions-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

.selected-exhibition {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.horizontal .selected-exhibition {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  transform: none;
  margin-top: 20px;
  left: auto;
  width: 100%;
}

body.exhibition-selected::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(225, 225, 255, 0.8) 0%,
    rgba(225, 225, 255, 0.8) 130px,
    rgba(255, 255, 255, 1) 140px,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

body.exhibition-selected::before {
  opacity: 1;
}

.year-menu {
  z-index: 1000;
}

@media only screen and (orientation: landscape) and (max-width: 1200px) {
  .year-menu.horizontal {
    top: 9vh;
  }
  
  .horizontal .selected-exhibition {
    margin-top: 10px;
  }

  body.exhibition-selected::before {
    background: linear-gradient(
      to bottom,
      rgba(230, 230, 255, 0.8) 0%,
      rgba(230, 230, 255, 0.8) 80px,
      rgba(255, 255, 255, 1) 90px,
      rgba(255, 255, 255, 1) 100%
    )
  }
}

.exhibition-preview {
  width: 360px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.horizontal .exhibition-preview {
  width: 180px;
  height: 100px;
}

.exhibition-button.selected .exhibition-preview {
  width: 0;
  height: 0;
  margin-right: 0;
  opacity: 0;
}

.exhibition-button.selected {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .exhibition-preview {
    width: 150px;
    height: 90px;
  }

  .horizontal .exhibition-preview {
    width: 70px;
    height: 45px;
  }

  .exhibition-button {
    font-size: 12px;
  }
}

.selected-exhibition-container {
  width: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.selected-exhibition {
  pointer-events: auto;
}

.exhibition-button.selected {
  font-weight: bold;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90vw;
}

.exhibition-button.selected:hover {
  opacity: 0.8;
}

@media (max-width: 1000px) {
  .exhibition-button.selected {
    font-size: 16px;
  }
}
